.chat-container {
  height: 100%;
  padding: 0.9375rem 0 0.625rem 0;
  margin: auto;
  text-align: left;
  max-width: 25rem;
  min-width: 9.375rem;
}

.chat {
  margin: 0.75rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}
